PORT=PORT
MONGODB_URI=YOUR_MONGODB_URI
JWT_SECRET=YOUR_JWT_SECREAT_KEY
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
HUGGINGFACE_API_KEY=YOUR_HUGGINGFACE_API_KEY
OPENWEATHER_API_KEY=YOUR_OPENAI_API_KEY
FRONTEND_URL=FRONTEND_URL

EMAIL_SERVICE=gmail
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-specific-password

# MONGODB_URI=mongodb://localhost:27017/travel_planner
# nPZl8ixAhB5ic6x3